<h1>Place rent</h1>

<h2>Details</h2>
  <p>
    <strong>Parking:</strong> <%= @place_rent.parking %><br>
    <strong>Car:</strong> <%= @place_rent.car %><br>
    <strong>Start date:</strong> <%= @place_rent.start_date %><br>
    <strong>End date:</strong> <%= @place_rent.end_date %>
  </p>

<p><%= link_to 'Back', place_rents_path %></p>