<%= form_for @parking do |f| %>

  <% if @parking.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:
      </h2>
      <ul>
        <% @parking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :places %><br>
    <%= f.text_field :places %>
  </p>

  <p>
    <%= f.label :kind %><br>
    <%= f.select :kind, ['outdoor', 'indoor', 'private', 'street'], {include_blank: "Choose kind", default: nil} %>
  </p>

  <p>
    <%= f.label :hour_price %><br>
    <%= f.text_field :hour_price %>
  </p>

  <p>
    <%= f.label :day_price %><br>
    <%= f.text_field :day_price %>
  </p>

  <%= f.fields_for :address do |a| %>
    <p>
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code %>
    </p>

    <p>
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </p>

    <p>
      <%= f.label :street %><br>
      <%= f.text_field :street %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>